<div>
  <%= link_to("<< Back to Alien", { :controller => "aliens", :action => "show", :id => @power.alien.id }) %>
  <div>
    <h3>Create New Power</h3>
    <%= form_for(:power, :url => { :action => "create", :alien_id => @power.alien.id }) do |f| %>
      <table>
        <tr>
          <th>Ability</th>
          <td><%= f.text_field(:ability) %></td>
        </tr>
      </table>
      <div>
        <%= submit_tag("Create Power") %>
      </div>
    <% end %>
  </div>
</div>