<div>
  <%= link_to("<< Back to Alien", alien_path(@power.alien)) %>
  <div>
    <h3>Create New Power</h3>
    <%= form_for [@power.alien, @power] do |f| %>
      <table>
        <tr>
          <th>Ability</th>
          <td class="form-edit"><%= f.text_field(:ability) %></td>
        </tr>
      </table>
      <div class="button-save">
        <%= submit_tag("Create Power") %>
      </div>
    <% end %>
  </div>
</div>